* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-color: rgba(0,139, 139,0.8);
    font-size: 8px;
    padding: 5px;
}
.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
}

.demos {
    margin-left: 20px;
}

.main {
    margin-left: 20px;
}

.header-container{
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
}

.group-project {
    align-self: flex-end;
    margin-bottom: 20px;
}

.github {
    align-self: flex-end;
    margin-bottom: 20px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}

.carousel .carousel_item, 
.carousel .carousel_item--hidden {
    display: none;
}

.carousel .carousel_item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel .carousel_item--visible {
    display: block;
}

.carousel .carousel_actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel_actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel_actions button#carousel_button--prev {
    margin-left: 20px;
}

.carousel .carousel_actions button#carousel_button--next{
    margin-right: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-one {
    background-color: #5995DA;
    flex: initial; 
    width: 300px;
}

.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}

nav {
    background-color: rgba(0,139, 139,0.4);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}