* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-color: rgba(0,139, 139,0.8);
    font-size: 8px;
    padding: 5px;
}
.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
}

.main {
    margin-left: 20px;
}

.header-container{
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-project {
    align-self: flex-end;
    margin-bottom: 20px;
}

.github {
    align-self: flex-end;
    margin-bottom: 20px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-one {
    background-color: #5995DA;
    flex: initial; 
    width: 300px;
}

.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}